<a href="https://colab.research.google.com/github/namita-ach/SDS-HW/blob/main/HW1_Aviation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
#read the csv
data = pd.read_csv('AviationData.csv')

In [6]:
#make the dataframe
df = pd.DataFrame(data)
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24688,20001213X29914,Accident,ATL90LA047,1989-12-29,"WINSTON SALEM, NC",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,1.0,0.0,VMC,Cruise,Probable Cause,16-06-1992
24689,20001213X29900,Accident,ANC90LA023,1989-12-29,"TANANA, AK",United States,NaN,NaN,NaN,NaN,...,Business,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,05-09-1990
24690,20001213X29969,Accident,LAX90FA061,1989-12-30,"TUCSON, AZ",United States,NaN,NaN,TUS,TUCSON INT'L,...,Unknown,"America West Airlines, Inc.",0.0,0.0,10.0,123.0,VMC,Descent,Probable Cause,07-10-1992
24691,20001212X22389,Accident,CHI90LA059,1990-01-01,"ELKHART, IN",United States,NaN,NaN,3C1,MISHAWAKA PILOT'S CLUB,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,28-06-1991
24692,20001212X22375,Accident,BFO90FA017,1990-01-02,"BALTIMORE, MD",United States,NaN,NaN,BWI,BALTIMORE-WASHINGTON,...,Unknown,American Airlines,0.0,3.0,7.0,247.0,VMC,Cruise,Probabl,NaN

In [9]:
#finding the number of parameters = number of columns -1
columns = len(df.axes[1])
print(f"The number of parameters is {columns-1}")

The number of parameters is 30

In [15]:
#finding the parameters
for parameter in df.axes[1][1:]:
  print(parameter)

Investigation.Type
Accident.Number
Event.Date
Location
Country
Latitude
Longitude
Airport.Code
Airport.Name
Injury.Severity
Aircraft.damage
Aircraft.Category
Registration.Number
Make
Model
Amateur.Built
Number.of.Engines
Engine.Type
FAR.Description
Schedule
Purpose.of.flight
Air.carrier
Total.Fatal.Injuries
Total.Serious.Injuries
Total.Minor.Injuries
Total.Uninjured
Weather.Condition
Broad.phase.of.flight
Report.Status
Publication.Date